<div class="post-list">
    {{#each posts}}
    <article class="post">
        <div class="title">
            <a href="post/{{id}}">
            <h4>{{title}}</h4><span>Posted by {{user.username}} on {{createdAt}}</span></a>
        </div>
        <div class="post-content">
            {{post_content}}
        </div>
    </article>
    {{/each}}
</div>